{{#if App.currentUser.isTeacher}}
  {{#unless newFormDisplayed}}
    <div class="action-buttons">
      <button class="btn btn-orange" {{action "showNewForm"}}>
        <i class="btn-add"></i>
        {{t 'forms.communications.new'}}
      </button>
    </div>
  {{/unless}}

  {{#if newFormDisplayed}}
    <div class="form-wrapper communication">
      <div class="form-fields">
        <div class="field-group">
          <label class="label">Títol:</label>
          <div class="input-wrapper">
            {{input type="text" value=title}}
          </div>
        </div>
        <div class="field-group">
          <label class="label">Text:</label>
          <div class="input-wrapper">
            {{textarea value=body}}
          </div>
        </div>
      </div>
      <div class="bottom-bar">
        <button class="btn btn-orange" {{action "saveCommunication"}}>Afegeix</button>
        <button class="btn btn-gray" {{action "hideNewForm"}}>Cancelar</button>
      </div>
    </div>
  {{/if}}
  {{!-- <div class="modal-wrapper">
    <div class="modal-overlay" {{action "hideModal"}}>
    </div>
    <div class="modal-content form">
      <button class="close-modal" {{action "hideModal"}}></button>


      <div class="clearfix"></div>
    </div>
  </div> --}}
{{/if}}

<ul class="list basic">
  {{each itemViewClass="App.CommunicationsIndexRowView"}}
</ul>