<div class="action-buttons">
  <button class="btn btn-orange" type="button" {{action "goBack"}}>
    <i class="btn-back"></i>
    {{t 'go_back'}}
  </button>
</div>

<span class="day">{{day}}</span>
<span class="month">{{month}}</span>

<h1 class="title">{{title}}</h1>
<h3 class="body">{{body}}</h3>