<div class="action-buttons">
  <button class="btn add" type="button" {{action goBack}}><i class="icon-plus"></i> Tornar</button>
</div>

<span class="day">{{day}}</span>
<span class="month">{{month}}</span>
<h1 class="title">{{title}}</h1>
<h3 class="body">{{body}}</h3>