{{#if currentUser.isTeacher}}
  <div class="action-buttons">
    <button class="btn btn-primary" type="button" {{action "new"}}><i class="glyphicon glyphicon-plus"></i> Afegir material</button>
  </div>
{{/if}}

<ul class="items-list">
  {{#each}}
    <li class="item">
      <div class="date">
        <span class="day">{{day}}</span>
        <span class="month">{{month}}</span>
      </div>
      <div class="content">
        <p class="title">{{title}}</p>
        <p class="body">{{body}}</p>
      </div>
    </li>
  {{/each}}
</ul>
