{{#if App.currentUser.isTeacher}}
  <div class="action-buttons">
    <button class="btn add" type="button" {{action 'new'}}><i class="icon-plus"></i> Afegir comunicació</button>
  </div>
  <div class="modal-wrapper">
    <div class="modal-overlay">
      <div class="modal-content">
        <div class="add-form rounded-corners-5">
          <form>
            <div class="form-inputs">
              <div class="control-group">
                <label class="control-label" for="assignatura">Assignatura</label>
                <div class="controls">
                  <select id="assignatura">
                    <option value="1">Test Subject</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="alumnes">Alumnes</label>
                <div class="controls">
                  <select id="alumnes" multiple="multiple">
                    <option value="1">Test Child 1</option>
                    <option value="2">Test Child 2</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="titol">Títol</label>
                <div class="controls">
                  <input type="text" id="titol" class="input-block-level">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="body">Text</label>
                <div class="controls">
                  <textarea id="body" rows="5" class="input-block-level"></textarea>
                </div>
              </div>
              <div class="control-group input-append">
                <label class="control-label" for="quan">Data</label>
                <div class="controls">
                  <div class="input-append date" id="dp-communication" data-date-format="dd-mm-yyyy">
                    <input class="span2" size="16" type="text" id="quan">
                    <button type="button" class="btn"><i class="icon-calendar"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="buttons">
              <button type="submit" class="btn btn-primary">Afegeix</button>
              <button type="button" class="btn cancel">Cancel·la</button>
            </div>
          </form>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

<ul class="items-list">
  {{#each}}
    <li class="item">
      <div class="date">
        <span class="day">{{day}}</span>
        <span class="month">{{month}}</span>
      </div>
      <div class="content">
        <p class="title">{{title}}</p>
        <p class="body">{{body}}</p>
      </div>
    </li>
  {{/each}}
</ul>