{{!-- <%= header_title %> --}}
{{!-- <%= render partial: 'shared/header/buttons' %> --}}

<div class="header-buttons">
  <button data-toggle="dropdown">
    {{#if App.currentUser.isParent}}
      {{t 'common.child'}}
    {{else}}
      {{t 'common.classroom'}}
    {{/if}}
  </button>

  <ul class="dropdown-menu">
    {{#if App.currentUser.isParent}}
      {{!-- <% if current_user.children.count > 1 %>
        <% current_user.children.each do |c| %>
          <% unless c.id == current_user.current_child_id %>
            <li><a href="/update-child/<%= c.id %>"><i class="icon-user"></i> <%= c.name %></a></li>
          <% end %>
        <% end %>
        <li class="divider"></li>
      <% end %> --}}
    {{else}}
      {{!-- <% if current_user.classrooms.count > 1 %>
        <% current_user.classrooms.by_name.each do |c| %>
          <li><a href="/update-classroom/<%= c.id %>"><i class="icon-user"></i> <%= c.name %></a></li>
        <% end %>
        <li class="divider"></li>
      <% end %> --}}
    {{/if}}
    <li>
      <a href="/logout"><i class="icon-off"></i>{{t 'devise.links.logout'}}</a>
    </li>
  </ul>

  <a href="#" class="button">{{t 'common.my_profile'}}</a>
</div>