<div class="content-left que-es">
  <h2><%= t("website.what_is") %></h2>
  <%= raw t("website.content.what_is_html") %>
</div>

<div class="content-left objectius" style="display: none;">
  <h2><%= t("website.objectives") %></h2>
  <%= t("website.content.objectives_html") %>
</div>

<div class="content-left qui-som" style="display: none;">
  <h2><%= t("website.who_are") %></h2>
  <%= t("website.content.who_are_html") %>
</div>

<div class="content-left contacte" style="display: none;">
  <h2><%= t("website.contact") %></h2>
  <%= t("website.content.contact_html") %>
  <%= render :partial => "contact_form" %>
</div>