<!DOCTYPE html>
<html>
  <head>
    <title>e-Scool</title>
    <link rel="shortcut icon" href="/favicon.ico" />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <link rel="stylesheet" href="ie.css" type="text/css" media="screen, projection" />
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Scada:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application-app', :media => 'all' %>

    <%= javascript_include_tag 'translations' %>
    <script type="text/javascript" charset="utf-8">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
      <% if current_user %>
        currentUserId = <%= current_user.id %>;
      <% end %>
      AppConfig = {}
      AppConfig.activeSections = <%= active_classroom_sections %>;
    </script>

    <%= javascript_include_tag 'application' %>
    <%= yield :jsheader %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="ember-application" class="main-wrapper"></div>
  </body>
</html>