<!DOCTYPE html>
<html>
<head>
  <title>e-Scool</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/assets/ie.css" type="text/css" media="screen, projection" />
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Actor|Indie+Flower' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application-website", :media => "all" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag "website" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="wrapper-content">
  <div id="header">
    <%= link_to image_tag(asset_path('logo-medium.png'), width: '130', height: '80'), root_url, class: 'logo' %>
    <ul id="main-menu">
      <li><a href="#" rel="que-es" class="active"><%= t("website.what_is") %></a><span class="sep">|</span></li>
      <li><a href="#" rel="objectius"><%= t("website.objectives") %></a><span class="sep">|</span></li>
      <li><a href="#" rel="qui-som"><%= t("website.who_are") %></a><span class="sep">|</span></li>
      <li><a href="#" rel="contacte"><%= t("website.contact") %></a></li>
    </ul>
    <ul id="right-menu">
      <li><a href="<%= login_path %>"><%= t("login") %></a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div id="content">
    <%= yield %>
    <div class="content-right">
      <div id="social-links">
        <p><%= t("website.follow_us") %></p>
        <a href="#" target="blank"><img src="<%= asset_path('website/facebook.png') %>" /></a>
        <a href="#" target="blank"><img src="<%= asset_path('website/twitter.png') %>" /></a>
      </div>
      <span><%= t("website.soon") %></span>
    </div>
    <div class="clear"></div>
  </div>
  <div id="wrapper-footer">
    <div id="footer">
      <p>e-Scool &copy; 2013 - <%= t("website.copyright") %></p>
    </div>
  </div>
</div>
</body>
</html>
